@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Raleway');


h1,
h4 {
	font-family: 'Old Standard TT', serif;
	color: #F9BB2E;
}

p {
	color: rgba(0,0,0,0.5);
}

.container {
	margin-bottom: 7em;
}

#brewer-name {
  z-index: 1;
}

a {
  text-decoration: none;
  color: white;
}

.buttons {
  display: inline-block;
}
.form-buttons {
  position: relative;
  top: 2em;
}

/*
.user-name {
  background-color: #F7882f;
  text-align: center;
  padding: 5% 0% 3% 0%;
  color: white;
  margin-top: -5%;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  -moz-box-shadow: 1px 3px 25px -6px #000;
  -webkit-box-shadow: 1px 3px 25px -6px #000;
  box-shadow: 1px 3px 25px -6px #000;
}*/

.user-name {
  background-color: #F7882f;
  text-align: center;
  padding-top: 5%;
  color: white;
  height: 15%;
  position: absolute;
  margin-left: 8%;
  margin-top: 75%;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  -moz-box-shadow: 1px 3px 25px -6px #000;
  -webkit-box-shadow: 1px 3px 25px -6px #000;
  box-shadow: 1px 3px 25px -6px #000;
}

.beer-content {
	text-align: center;
	padding: 20px;
}

.beer-photo {
	max-height: 25em;
	overflow: hidden;
	/*width: 30em;*/
}

.beer-traits {
	padding-top: 1em;
}

.recipe-btn {
	margin-top: 3em;
}

.modal-body {
  white-space: pre-wrap;
}

 .button-search a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
}

 .button-search {
  background: #03C4EB;
  border: 2px solid #03C4EB;
  color: #fff;
}

 .button-search:hover {
  background: none;
  border: 2px solid #F9BB2E;
  color: #F9BB2E;
}


@media only screen and (min-width: 1200px) {
    .container {
        padding: 6em;
    }

    h1 {
    	margin-bottom: 20px;
    }

    .beer-traits {
    	padding-top: 3em;
    }
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
	.beer-photo {
		margin-left: 1em; 
		height: 22em;
		width: 22em;
	}

  .user-name {
    margin-top: 80%;
  }

}

@media only screen and (min-width: 360px) and (max-width: 414px) {
	.beer-photo {
		height: 24em;
		width: 24em; 
	}

  .beer-image {
    right:15%;
  }

  .user-name {
    margin-top: 82%;
  }
}

@media only screen and (min-width: 412px) and (max-width: 700px) {
	.beer-photo {
		margin-left: 2.8em;
		height: 24em;
		width: 24em; 
	}

  .user-name {
    margin-top: 75%;
    margin-right: 8%;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {
	
}

