<html>
<body>
	

<section>
	<div class="container-fluid header-under">
		<div class="row col-lg-12 col-xs-12">
		</div>
	</div>
</section>

<section>
	<div class="container-fluid profile">
		<div class="profile-info col-lg-3 col-md-3">
			<div class="profile-picture col-lg-9 col-md-9"><img src="http://i0.kym-cdn.com/photos/images/newsfeed/000/692/484/0ce.jpg" alt="" style="width:100%">
				<div class="user-name col-lg-9 col-md-9">Pickle Rick</div>
			</div>
		</div>
	</div>
</section>

</body>
</html>

