<section>
	<div class="container-fluid header-under">
		<div class="row col-lg-12 col-xs-12">
		</div>
	</div>
</section>


<!--******************-->
<!-- Profile Section  -->
<!--******************-->

<section>
<div class="container-fluid profile">
	<div class="row profile-info col-lg-3 col-md-3 col-sm-3" *ngIf=oneUser>
		<div class="profile-picture col-lg-10 col-md-10 col-sm-12 col-xs-10"><img src={{oneUser.photoUrl}} alt="" style="width:100%">
				<div class="user-name col-lg-9 col-md-9 col-sm-9 col-xs-9"><p>{{oneUser.username}}</p></div>
			</div>
			<div class="city col-lg-12 col-md-12 col-sm-12 col-xs-12">Zip Code: {{oneUser.zipcode}}</div>
			<a *ngIf="myProfile()" routerLink="/beers/new"><button type="button" class="btn-get-started actions col-lg-7 col-md-7 col-sm-7 col-xs-7">Add Beer</button></a>
			<button *ngIf="!(myProfile())" type="button" class="btn-get-started message actions col-lg-7 col-md-7 col-sm-7 col-xs-7">Message Hero</button>
			<button *ngIf="myProfile()" type="button" class="btn-get-started edit-btn actions col-lg-7 col-md-7 col-sm-7 col-xs-7" data-toggle="modal" data-target="#editUserModal">Edit</button>
			
	</div>
<app-users-edit></app-users-edit>
<!--****************-->
<!-- Cards Section  -->
<!--****************-->


	<div class="container-fluid card-section-profile">
    	<div class=" card-main-css wow fadeIn col-lg-9">
      	<div *ngFor="let beer of userBeerArray" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        	<div class="card">
          		<div class="image">
          			<img src={{beer.photoUrl}} width="100%">
          		</div>
          		<div class="text">
       	    		<a routerLink="/beers/{{beer.id}}" class="go-to">&#43;</a>
			      	<h2 class="beer-name">{{beer.name}}</h2>
              		<h3 class="beer-style">Type: {{beer.style}}</h3>
        		</div>
        	</div>
      	</div>
      	</div>
    </div>
</div>

</section>
