<link href="https://fonts.googleapis.com/css?family=Old+Standard+TT|Raleway" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />



<section>
	<div class="container-fluid logo-header">
		<div class="row logo-header">
			<div class="col-lg-6 logo">Homebrew Heroes</div>
			<div class="user col-lg-6"><i class="fa fa-user-circle fa-3x" aria-hidden="true"></i></div>
		</div>
	</div>
</section>


<section>
	<div class="container-fluid search">
		<div class="row col-lg-12">
			<div class="col-md-auto">Search:
				<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Insert brew type here">
				<button type="submit" class="btn button-search">Submit</button>
			</div>
		</div>
	</div>
</section>

  <div class="container card-main-css">
    <div class="row">
      <div class="col-md-4 col-sm-8 col-xs-12">
        <div class="card">

          <div class="image">
          	<img src="https://static.pexels.com/photos/459392/pexels-photo-459392.jpeg" width="100%">
          </div>

          <div class="text">
       	<div class="go-to">&#43;</div>
			<h2 class="beer-name">Grapefruit Pale Ale</h2>
            <h3 class="beer-style">IPA</h3>
          </div>
        </div>

      </div>
      <div class="col-md-4 col-sm-8 col-xs-12">
        <div class="card">

          <div class="image">
          	<img src="https://cdn2.justwineapp.com/assets/article/2017/05/photo-pint-beer-free-stock-image-royalty-free-instagram-social-media.jpg" width="100%">
          </div>

          <div class="text">
            <div class="go-to">&#43;</div>
			<h2 class="beer-name">Grapefruit Pale Ale</h2>
            <h3 class="beer-style">IPA</h3>
          </div>
        </div>
        
      </div>
      <div class="col-md-4 col-sm-8 col-xs-12">
        <div class="card">

          <div class="image">
            <img src="http://www.publicdomainpictures.net/pictures/110000/velka/glass-of-beer.jpg" width="100%">
          </div>

          <div class="text">
            <div class="go-to">&#43;</div>
			<h2 class="beer-name">Grapefruit Pale Ale</h2>
            <h3 class="beer-style">IPA</h3>
          </div>
        </div>
        
      </div>
      </div>
    </div>


