.tab-content {
	padding-top: 1em;
}

.fb-login {
	background-color: #3D5B96;
}

.google-login {
	background-color: #DB4D3F;
}

.login {
	background-color: #03C4EB;
	border: 1px solid #03C4EB;
}

.fb-login,
.google-login,
.login {
	color: white;
	display: block;
	margin: 10px auto;
	padding: 1em 2em;
	width: 80%;
}

.form-control {
	display: inline;
	width: 80%;
}

.or {
	color: rgba(25, 21, 21, 0.7);
	margin: 1.5em auto 2em auto;
	border-top: 1px solid rgba(25, 21, 21, 0.26);
	border-bottom: 1px solid rgba(25, 21, 21, 0.26);
	width: 60%;
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 30%;
	}
}