<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#login" aria-controls="uploadTab" role="tab" data-toggle="tab">Login</a>
                        </li>

                        <li role="presentation"><a href="#sign-up" aria-controls="browseTab" role="tab" data-toggle="tab">Signup</a>
                        </li>

                         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="login">

                    	<!-- Facebook Login Button -->
						<a type="button" href="{{BASE_URL}}/auth/facebook" class="btn btn-fb fb-login"><i class="fa fa-facebook left"></i> Continue with Facebook</a>

						<!-- Google Login Button -->
						<a href="{{BASE_URL}}/auth/google" class="btn btn-gplus google-login"><i class="fa fa-google-plus left"></i> Continue with Google +</a>

						<div class="or"> OR </div>

						<form method="POST" action="{{BASE_URL}}/auth/login">
						  <div class="form-group">
						    <input type="text" name="email" class="form-control" id="email" placeholder="Email">
						  </div>
						  <div class="form-group">
						    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
						  </div>
						  <input class="btn btn-primary login" type="submit" value="Login">
						</form>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="sign-up">

                        	<form method="POST" action="{{BASE_URL}}/auth/signup" (ngSubmit)="$event.preventDefault()">
                        	  <div class="form-group">
                        	    <input type="text" name="email" class="form-control" id="email" placeholder="Email">
                        	  </div>
                        	  <div class="form-group">
                        	    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                        	  </div>
                        	  <input class="btn btn-primary login" type="submit" value="Signup">
                        	</form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Login Form -->
<!-- <form method="POST" action="{{BASE_URL}}/auth/login">
	<input type="text" name="email" id="email" placeholder="Email">
	<input type="password" name="password" id="password" placeholder="Password" >
	<input type="submit">
</form> -->

<!-- Signup Form -->
<!-- <form method="POST" action="{{BASE_URL}}/auth/signup">
	<input type="text" name="email" id="email" placeholder="Email">
	<input type="password" name="password" id="password" placeholder="Password" >
	<input type="submit">
</form> -->
