<div class="container">
<form (ngSubmit)="saveBeer()" class="col-sm-6">
	<h2>New Brew:</h2>
	<div class="form-group">
		<label for="name">Name:</label>
		<input [(ngModel)]="newBeer.name" type="text" name="name" id="name" class="form-control" required />
	</div>
	<div class="form-group">
		<label for="style">Style:</label>
		<select [(ngModel)]="newBeer.style" name="style" required id="style" class="form-control">
			<option value="American IPA">American IPA</option>
			<option value="Stout">Stout</option>
			<option value="Porter">Porter</option>
			<option value="Gose">Gose</option>
			<option value="Amber Ale">Amber Ale</option>
			<option value="Double IPA">Double IPA</option>
			<option value="Triple IPA">Triple IPA</option>
			<option value="American Pale Ale">American Pale Ale</option>
			<option value="English IPA">English IPA</option>
			<option value="Sour">Sour</option>
			<option value="Schwarzbier">Schwarzbier</option>
			<option value="Witbier">Witbier</option>
			<option value="Hefeweizen">Hefeweizen</option>
			<option value="American Wheat Beer">American Wheat Beer</option>
			<option value="Pilsner">Pilsner</option>
			<option value="Scottish Ale">Scottish Ale</option>
			<option value="Brown Ale">Brown Ale</option>
		</select>
	</div>
	<div class="form-group">
		<label for="abv">ABV:</label>
		<input [(ngModel)]="newBeer.abv" type="number" name="abv" id="abv" class="form-control" />
	</div>
	<div class="form-group">
		<label for="ibus">IBUs:</label>
		<input [(ngModel)]="newBeer.ibus" type="number" name="ibus" id="ibus" class="form-control" />
	</div>
	<div class="form-group">
		<label for="description">Description:</label>
		<textarea [(ngModel)]="newBeer.description"  name="description" id="description" class="form-control" rows="3"></textarea>
	</div>
	<div class="form-group">
		<label for="recipe">Recipe:</label>
		<textarea [(ngModel)]="newBeer.recipe" name="recipe" id="recipe" class="form-control" rows="3"></textarea>
	</div>

	<input type="submit" value="SAVE" class="btn btn-primary">

</form>
</div>