

<link href="https://fonts.googleapis.com/css?family=Old+Standard+TT|Raleway" rel="stylesheet">

<div class="container">
	<div class="row about-div" >
		<div class="col-lg-12 ">
			<div class="col-lg-4 col-md-4 col-sm-4 ryan-div">
				<div class="about-div-names col-lg-6 col-md-6 col-sm-10 ryan-about ">Ryan Elliot</div>
			</div>
				
			<div class="col-lg-4 col-md-4 col-sm-4 mike-div">
				<div class="about-div-names col-lg-6 col-md-6 col-sm-10 mike-about">Mike Theodorou</div>
			</div>
				
			<div class="col-lg-4 col-md-4 col-sm-4 wes-div">
				<div class="about-div-names col-lg-6 col-md-6 col-sm-10 wes-about">Wesley Hebert</div>
			</div>
				
		</div>
	</div>
</div>

<!-- <div class="container-fluid">
	<div class="row about-div-names" >
		<div class="col-lg-12 ">
			
				<div class="col-lg-4 ryan-about">Ryan Elliot</div>
			
				
			
				
			
				
			
				<div class="col-lg-4 wes-about">Wesley Hebert</div>
		
				
		</div>
	</div>
</div> -->


