<link href="https://fonts.googleapis.com/css?family=Old+Standard+TT|Raleway" rel="stylesheet">


  <section id="hero">
    <div class="hero-container">
      <div class="fadeIn">
         <!--  <img class="" src="img/logo.png" alt="Imperial"> -->
        </div>

        <h1>Homebrew Heroes</h1>
        <h2>...A place to connect with your brewing buddies</h2>
        <div class="actions">
          <a href="#about" class="btn-get-started">Get Started</a>
      </div>

      <div id ="arrow-container" class="arrow bounce"></div>
    </div>
  </section>


  <!--==========================
  Services Section
  ============================-->
  <section id="services">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">But what is it?</h3>
        </div>
      </div>

      <div class="hideme row">
        <div class="col-md-4 service-item">
          <div class="service-icon"></div>
          <h4 class="service-title">Showcase Brews</h4>
          <p class="service-description">Our app gives you the chance to let your brews be the star of the show. Create a profile for each beer and show people what you can do.</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"></div>
          <h4 class="service-title">Connect</h4>
          <p class="service-description">We like to think fellow brewers want to connect with people who share their passion. Our app encourages browsing other profiles and reaching out.</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"></div>
          <h4 class="service-title">Share</h4>
          <p class="service-description">Once you connect with people and like what they are doing, send a message and share tips (or beer)</p>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  CALL TO ACTION
  ============================-->

    <div class="call-to actions">
          <a href="#about" class="btn-get-started">Sign-Up</a>
    </div>


    <div class="final-pic"></div>

<!--==========================
  Footer
============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            &copy; Copyright <strong>Homebrew Heroes</strong>. All Rights Reserved
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- #footer -->




