/**********/
/* Footer */
/**********/

#about {
	text-decoration: none;
	color: white;
	padding-left: 4em;
}

#about:hover {
	text-decoration: underline;
	color: #fabc09;
}

#footer {
  width: 100%;
  background: #374353;
  padding: 2%;
  color: white;
  text-align: center;
  margin-top: 10px;
  
}